@charset "utf-8";


h1 {
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 40px;
    width: 300px;
    height: 50px;
    white-space: nowrap;
  }

  body {
    background-color: #cec8c2;
  }
  p {
    font-family: Georgia, serif;
    font-size: 20px;
  }

button { 
    background-color: rgb(0, 0, 0);
    color: #cec8c2;
    padding: 10px 20px;
    font-size: 20px;


}
button:hover {
    background-color: #D9BFA9;
    color:black;
}
nav {
    display: flex;
    align-items: right;
    justify-content: space-between;
    background-color:#8a4552;
    padding: 10px 20px;

}
nav input {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 1px;
    margin-bottom: 10px;
    margin-right: 16px;
    font-size: 17px;
  }
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
nav a {
    color: #e5acbe;
    font-family: Georgia;
    text-decoration: none;
}
nav a:hover {
    color: #D9BFA9;
}
    
section {
    margin: 20px 0;
    padding: 20px;
}
.newspaper {
   font-family: Georgia;
    color: azure;
    text-align: center;
    font-family: Georgia;
    background-image: url(../Images/newspaper_sectionbackground.png);    
}
.about {
    font-family: Georgia;
    text-align: justify;
    background-image: url(../Images/foundersphoto.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 35%;

}
h2 {
    text-align: center;
    padding-bottom: 5%;
    font-family: Georgia;

}
.product {
    text-align: center;
    padding: auto;
    font-family: Georgia;
    padding-left: 5%;
    padding-right: 5%;
   
}
.hero {
    background-image: url(../Images/headerbackdrop.png);
    font-family: Georgia;
}
#myBtn {
    display: none;
}
